<div class="row align-center margin-top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md banner">
		<div class="banner__text-wrapper">
			<h3 class="inverse text-align--center">
				PALETTE
			</h3>
		</div>
	</div>
</div>
<!-- BRAND PALETTE -->
<div class="row align-center margin-top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<div class="row flush">
			<div class="col-12-lg col-12-md col-12-sm col-12-xs">
				<h4 class="text-align--center mobile partial-underscore">
					BRAND PALETTE
				</h4>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph blue">

				</div>
				<h4 class="text-align--center mobile">
					BLUE
				</h4>
				<p class="text-align--center mobile">
					#3d70b2
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph light-blue">

				</div>
				<h4 class="text-align--center mobile">
					LIGTH BLUE
				</h4>
				<p class="text-align--center mobile">
					#5596e6
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph white">

				</div>
				<h4 class="text-align--center mobile">
					WHITE
				</h4>
				<p class="text-align--center mobile">
					#FFFFFF
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>
<!-- UI PALETTE -->
<div class="row align-center margin-top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<div class="row flush">
			<div class="col-12-lg col-12-md col-12-sm col-12-xs">
				<h4 class="text-align--center mobile partial-underscore">
					UI PALETTE
				</h4>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph off-white">

				</div>
				<h4 class="text-align--center mobile">
					OFF WHITE
				</h4>
				<p class="text-align--center mobile">
					#f5f7fa
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph light-grey">

				</div>
				<h4 class="text-align--center mobile">
					LIGTH GREY
				</h4>
				<p class="text-align--center mobile">
					#5596e6
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph grey">

				</div>
				<h4 class="text-align--center mobile">
					GREY
				</h4>
				<p class="text-align--center mobile">
					#dfe3e6
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph dark-grey">

				</div>
				<h4 class="text-align--center mobile">
					DARK GREY
				</h4>
				<p class="text-align--center mobile">
					#FFFFFF
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph carbon">

				</div>
				<h4 class="text-align--center mobile">
					CARBON
				</h4>
				<p class="text-align--center mobile">
					#5a6872
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph black">

				</div>
				<h4 class="text-align--center mobile">
					BLACK
				</h4>
				<p class="text-align--center mobile">
					#152934
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- SUPPORTING PALETTE -->
<div class="row align-center margin-top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<div class="row flush">
			<div class="col-12-lg col-12-md col-12-sm col-12-xs">
				<h4 class="text-align--center mobile partial-underscore">
					UI PALETTE
				</h4>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph green">

				</div>
				<h4 class="text-align--center mobile">
					GREEN
				</h4>
				<p class="text-align--center mobile">
					#26A69A
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph gold">

				</div>
				<h4 class="text-align--center mobile">
					GOLD
				</h4>
				<p class="text-align--center mobile">
					#EFC100
				</p>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin-top--medium">
				<div class="color-swatch paragraph red">

				</div>
				<h4 class="text-align--center mobile">
					RED
				</h4>
				<p class="text-align--center mobile">
					#EF5350
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>
