<!-- ~~~~~~~~~TYPESTYLES -->
<div class="row align-center margin__top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md banner">
		<div class="banner--text__wrapper">
			<h3 class="inverse text-align__center">
				TYPESTYLES
			</h3>
		</div>	
	</div>
</div>
<!-- Mega (Intro) -->
<div class="row align-center margin__top--large">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<p class="mega">
				Aa
			</p>
			<h3>
				Open Sans
			</h3>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility bold">
				Open Sans is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. This version contains the complete 897 character set, which includes the standard ISO Latin 1, Latin CE, Greek and Cyrillic character sets. Open Sans was designed with an upright stress, open forms and a neutral, yet friendly appearance. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- H1 -->
<div class="row align-center">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<h1>
				Header 1
			</h1>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility">
				/* H1/Black: */<br>
				color: $black;<br>
				font-family: OpenSans-Light;<br>
				font-size: 5rem;<br>
				font-weight: 300;<br>
				line-height: 4rem;<br>
				letter-spacing: 0;<br>
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- H2 -->
<div class="row align-center">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<h2>
				Header 2
			</h2>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility">
				/* Header 2: */<br>
				color: $black;<br>
				font-family: OpenSans-SemiBold;<br>
				font-size: 3rem;<br>
				font-weight: 600;<br>
				letter-spacing: 0;<br>
				line-height: 4rem;<br>
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- H3 -->
<div class="row align-center">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<h3>
				Header 3
			</h3>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility">
				/* Header 3: */<br>
				color: $black;<br>
				font-family: OpenSans-Regular;<br>
				font-size: 2rem;<br>
				font-weight: 400;<br>
				letter-spacing: 0;<br>
				line-height: 3rem;<br>
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- H4 -->
<div class="row align-center">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<h4>
				HEADER 4
			</h4>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility">
				/* Header 4: */<br>
				color: $black;<br>
				font-family: OpenSans-Bold;<br>
				font-size: 1.166667rem;<br>
				font-weight: 700;<br>
				letter-spacing: 1px;<br>
				line-height: 2rem;<br>
				text-transform: uppercase;<br>
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- Paragraph -->
<div class="row align-center">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<p class="paragraph">
				Paragraph
			<p>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility">
				/* Paragraph: */<br>
				color: $black;<br>
				font-family: OpenSans-Regular;<br>
				font-size: 1.3333rem;<br>
				font-weight: 400;<br>
				letter-spacing: 0;<br>
				line-height: 2rem;<br>
				text-transform: uppercase;<br>
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- Utility -->
<div class="row align-center">
		<div class="col-3-lg col-3-md col-12-sm col-12-xs offset-1-lg offset-1-md">
			<p class="utility">
				Utility
			<p>
		</div>
		<div class="col-7-lg col-7-md col-12-sm col-12-xs">
			<p class="utility">
				/* Utility: */<br>
				color: $dark-grey;
				font-family: OpenSans-Regular;<br>
				font-size: 1rem;<br>
				font-weight: 400;<br>
				letter-spacing: 0;<br>
				line-height: 1.5rem;<br>
			</p>
		</div>
</div>
<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>
