/*==== UI Kit ====*/
.banner {
	// background-color: $black;
	height: 12rem;
}

.color-swatch {
	height: 72px;
	width: 72px;
	border-radius: 36px;
	@media screen and (max-width: 1280px) {
		margin: 0 auto;
	}
}

.banner__text-wrapper {
	h3 {
		line-height: 6rem;
	}
}
