// Navigation
.nav--desktop,
.nav--mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.nav--desktop {
	@media (max-width: $md-break) {
		display: none;
	}
}

.nav-row {
	position: relative;
	height: 60px;
	background-color: $wip-black;
}

.main-menu {
	display: flex;
	height: 100%;
}

.main-menu__nav-link {
	position: relative;
	display: block;
	text-decoration: none;
	color: white;
	line-height: 60px;
	font-style: normal;
	padding: 0 24px;
	transition: all 0.3s;

	@media (max-width: 1200px) {
		padding: 0 12px;
	}

	&.subheader {
		font-size: 12px;
		text-transform: uppercase;
	}

	&:hover {
		background-color: $true-black;
		color:$wip-orange;

		&:after {
			opacity: 1;
		}
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 2px;
		background-color: white;
		transition: opacity 300ms;
	}
}

.nav-link__active-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	opacity: 0;
	background-color: $off-white;
	transition: opacity .3s;
}

.nav-logo {
	@include full-center(absolute);
	display: block;
	height: calc(100% - 24px);
	box-sizing: border-box;

	svg {
		width: auto;
		height: 100%;
	}

	@media (max-width: $md-break) {
		height: 26px;
	}
}

.nav-utility-menu {
	height: 100%;
}

.nav-icon-block {
	position: relative;
	width: 60px;
	height: 100%;
	transition: background-color .5s;
	cursor: pointer;

	&:hover {
		background-color: $true-black;

		.nav-utility-menu__icon path {
			transition: fill .3s;
			fill: $wip-orange;
		}

		.nav-link__active-bar {
			opacity: 1;
		}
	}
}

.nav-icon-block--cart {
	background-color: $wip-orange;
	@media(min-width: $md-break) {
		&:hover {
			background-color: darken($wip-orange, 10%);
		}
	}
}

.nav-utility-menu__icon {
	display: block;
	@include full-center(absolute);
	width: 20px;
	height: 20px;
}

.cart-count {
	position: absolute;
	top: 4px;
	right: 12px;
	display: inline-block;
	text-align: center;
	width: 16px;
	line-height: 16px;
	border-radius: 50%;
	font-size: 12px;
	background-color: white;
}

.nav-panel {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: calc(50vh - 60px);
	min-height: 440px;
	background-color: $true-black;
	backface-visibility: hidden;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);

	&.active {
		transform: translate3d(0, 0, 0);
		transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
	}
}

.nav-secondary {
	position: absolute;
	top: 24px;
	width: 100%;
	backface-visibility: hidden;

	@media screen and (min-width: $md-break ) {
		margin-left: calc( ( 100vw - 1024px )/2 );
	}
	@media screen and (min-width: 1600px ) {
		margin-left: calc( ( 100vw - 1440px )/2 );
	}
}


.container-nav {
	max-width: 1024px;
	@media screen and (min-width: 1600px ) {
		max-width: 1440px;
	}
}

.nav-secondary__list-title {
	color: white;
	margin-bottom: 12px;
	transition: color 300ms;

	&:hover {
		color: $wip-orange;
	}
}

.nav-secondary__sub-link {
	color: $grey;
	font-style: normal;
	text-decoration: none;
	display: block;
	margin-bottom: 12px;
}

.nav-seconday__lookbook-image {
	position: relative;
	@include bg-image;
	height: calc(18.71vw - 24px);
	cursor: pointer;

	&:hover {
		.nav-seconday__lookbook-title {
			opacity: 1;
		}
	}
}

.nav-seconday__lookbook-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 300ms;
	background-color: rgba($off-white, 0.4);

	.subheader {
		line-height: 60px;
		color: white;
		padding-left: 24px;
	}
}

.collection-banner {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: $wip-orange;
	transition: background-color 500ms;

	@media (max-width: $sm-break) {
		position: fixed;
		transition: opacity 300ms;
		text-transform: capitalize;

		&.collection-banner-fade-enter-active,
		&.collection-banner-fade-leave-active {
			transition: opacity .3s;
		}
		&.collection-banner-fade-enter,
		&.collection-banner-fade-leave-to {
			opacity: 0;
		}
	}

	&:hover {
		background-color: darken($wip-orange, 10%);
	}

	a {
		display: block;
		line-height: 60px;
		color: white;
		text-align: center;
		font-style: normal;
		text-decoration: none;
	}
}

// Journal
.journal-block {
	position: relative;
	@include bg-image;
	height: calc(18.71vw - 24px);
	cursor: pointer;

	&:hover {
		.journal-block__title {
			background-color: rgba($wip-black, 0.9);
		}
	}
}

.journal-block__title {
	@extend .nav-seconday__lookbook-title;
	font-style: normal;
}

// Mobile nav
.nav--mobile {
	display: none;

	@media (max-width: $md-break) {
		display: block;
	}
}

.nav--mobile__menu-bttn {
	@include vertical-center(absolute);
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.nav--mobile__back-bttn {
	@extend .icon;
	position: absolute;
	top: 0;
	left: 0;
}

.nav--mobile__menu-bttn {
	left: 24px;
}

.utility-menu--mobile {
	position: absolute;
	top: 0;
	right: 0;
}

.nav-panel--mobile {
	position: absolute;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: calc(100vh - 60px);
	background-color: $true-black;
	transition: all .3s;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.nav-list__footer {
	margin-top: 24px;
	padding: 0 12px;

	a {
		display: block;
		margin-bottom: 12px;
		font-style: normal;
		color: $grey;
		text-decoration: none;
	}
}

.nav-link-row {
	cursor: pointer;
	height: 60px;
	color: white;
	border-bottom: 1px solid rgba($grey, 0.2);
}

.nav-link--mobile {
	display: block;
	line-height: 60px;
	color: white;
	padding: 0 12px;
}

.nav-link--mobile--sublink {
	line-height: 1;
	color: white;
	padding: 0 0 24px 12px;
}

.nav-link--mobile--sublink--first {
	padding-top: 24px;
}

.nav-link--mobile--header {
	@extend .nav-link--mobile;
	border-bottom: 1px solid rgba($grey, 0.2);
}

.nav-link--mobile--header--has-sub {
	border-top: 1px solid rgba($grey, 0.2);
}

.nav-link--mobile__icon {
	width: 24px;
	height: 24px;
}

.sub-nav-panel {
	position: relative;
}

.sub-nav-panel__header {
	position: sticky;
	top: 0;
	background-color: $wip-black;
}

.sub-nav-title {
	text-align: center;
	color: white;
	width: 100%;
	line-height: 60px;
}


.accordion__icon--right {
	position: absolute;
  right: 12px;
  top: 0;
}

.accordion-block__content-container.dark {
	background-color: $wip-black;
}

.accordion-block__content.no-pad {
	padding: 0;
}


.nav-panel--mobile.active {
	overflow-y: scroll;
}

.icon.accordion__icon--right.open {
	transform: rotate(180deg);
}

.col-accessories-sm {
	@media screen and (min-width: $sm-break) {
		width: 20%;
	}
}

.country-select-menu {
	position: absolute;
	top: 60px;
	background-color: $wip-black;
  padding: 24px;
  width: 96px;
  padding-bottom: 12px;
}

.country-select__flag.nav,
.country-select__flag.nav-label {
	color: white;
	display: inline-block;
}

svg.country-select__flag.nav {
	height: 13px;
	width: 30px;
}

svg.country-select__flag.usa {
	margin: 24px 16px;

	&.mobile {
		margin: 22px 0;
	}
}

.country--select__wrapper.active::after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background-color: white;
}

.accordion-block__header.country-select--mobile {
	height: 60px;
}

.accordion-block__content-container.countries {
	padding-left: 12px;
}

.country--select__wrapper.nav-icon-block {
  position: absolute;
  right: 240px;
}
