{% layout 'gift_card' %}

<div class="container-md">
	<header class="gift-card__header">
		<h2>Here's your gift card!</h2>
		<p>Use the code on the card at checkout to redeem your available balance.</p>
	</header>
	<div class="gift-card">
		<h3 class="gift-card__value">{{ gift_card.balance | money }}</h3>
		<svg class="gift-card__logo" viewBox="0 0 278 60">
			<use xlink:href="#black--carhartt_wip_text_logo" />
		</svg>
		<p class="gift-card__code subheader">code: {{gift_card.code}}</p>
	</div>
	<p class="qr-code-text">You can also scan for the code</p>
	<div id="qr-code"></div>
	{% if gift_card.pass_url %}
	<a href="{{ gift_card.pass_url }}">
		<img id="apple-wallet-badge" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="Add To Apple Wallet">
	</a>
	{% endif %}
</div>
