{% layout 'password' %}

<div class="password-page">
	<div class="row flush align-center">
		<div class="col-6-md password__left-column">
			<svg class="password__logo">
				<use xlink:href="#black--carhartt_wip_text_logo"></use>
			</svg>
		</div>
		<div class="col-6-md">
			<div class="password__forms">
				<h2 class="margin-bottom--small">Carhartt WIP USA<br>Coming Soon</h2>

				{% form 'customer' %}

				  {{ form.errors | default_errors }}

				  {% if form.posted_successfully? %}
				    <p class="margin-bottom--small">Thank you for signing up, you are now subscribed to our newsletter.</p>
				  {% else %}
				    <p class="margin-bottom--xs">Sign up to be notified at launch.</p>
				    <input type="hidden" name="contact[tags]" value="prospect, password page">
					<div class="row no-wrap no-pad margin-bottom">
						<input type="email"
					      name="contact[email]"
					      id="Email"
					      spellcheck="false"
					      autocomplete="off"
					      autocapitalize="off"
					      placeholder="Email">
						<button type="submit" name="commit" class="bttn-svg--orange">
							<svg class="icon">
								<use xlink:href="#white--arrow_right"></use>
							</svg>
						</button>
					</div>
				  {% endif %}
				{% endform %}
			</div>
		</div>
	</div>
	<div class="password__access row no-pad">
		<div class="col-12">
			<h4>Administrator? Sign in with password</h4>
			{% form 'storefront_password' %}
				{{ form.errors | default_errors }}
				<div class="row no-pad no-wrap">
					<input type="password" name="password">
					<button class="bttn-svg--grey" value="Enter" type="submit">
						<svg class="icon">
							<use xlink:href="#white--arrow_right"></use>
						</svg>
					</button>
				</div>
			{% endform %}
		</div>
	</div>
</div>
