<div class="color-link-wrapper">
	{% for block in section.blocks %}
		{% assign color_background = block.settings.color_name | handleize %}
		{% if color_background == tag_handle %}
			{% if block.settings.color_image contains 'http' %}
				{% capture background %}style="background-image: url({{ block.settings.color_image }});"{% endcapture %}
			{% else %}
				{% capture background %}style="background-color: {{ block.settings.color_image }};"{% endcapture %}
			{% endif %}
			<div class="color-swatch" {{ background }}></div>
		{% endif %}
	{% endfor %}
	<div class="color-label">
		<p>{{ color }}</p>
	</div>
</div>