<!-- ~~~~~~~~~TYPESTYLES -->
<div class="row align-center margin__top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md banner">
		<div class="banner--text__wrapper">
			<h3 class="inverse text-align__center">
				COMPONENTS
			</h3>
		</div>	
	</div>
</div>
<!-- CHECKBOXES, RADIO BUTTONS -->
<div class="row align-center margin__top--large">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<div class="row flush">
			<div class="col-12-lg col-12-md col-12-sm col-12-xs">
				<h4 class="text-align--center-mobile partial-underscore">
					CHECKBOXES, RADIO BUTTONS
				</h4>
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin__top--small">
				<p class="paragraph">
					Squared 16px
				</p>
				<div class="row flush">
					<div class="col-12-lg col-12-md col-12-sm col-12-xs">
						<p class="utility">
							<span class="enabled display-element__checkbox">
								{% include "icon-success" %}
							</span>
							<input class="checkbox--input" type="checkbox" name="example">
							<span class="label--wrapper">
								Checkbox
							</span>
						</p>
					</div>
					<div class="col-12-lg col-12-md col-12-sm col-12-xs">
						<p class="utility">
							<span class="disabled display-element__checkbox">
							</span>
							<input disabled="disabled" class="checkbox--input" type="checkbox" name="example">
							<span class="label--wrapper">
								Disabled Checkbox
							</span>
						</p>
					</div>
				</div>		
			</div>
			<div class="col-2-lg col-4-md col-6-sm col-6-xs margin__top--small">
				<p class="paragraph">
					Rounded 16px
				</p>
				<div class="row flush">
					<div class="col-12-lg col-12-md col-12-sm col-12-xs">
						<p class="utility">
							<span class="on enabled display-element__radio">
							</span>
							<input class="radio--input" type="radio" name="example">
							<span class="radio label--wrapper">
									Radio Button
							</span>
						</p>
					</div>
					<div class="col-12-lg col-12-md col-12-sm col-12-xs">
						<p class="utility">
							<span class="disabled display-element__radio">
							</span>
							<input class="radio--input" type="radio" name="example">
							<span class="radio label--wrapper">
								Disabled Radio Button
							</span>
						</p>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<div class="row align-center">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<hr class="divider">
	</div>
</div>

<!-- TEXT INPUTS -->

<div class="row align-center margin__top--medium">
	<div class="col-10-lg col-10-md col-12-sm col-12-xs offset-1-lg offset-1-md">
		<div class="row flush">
			<div class="col-12-lg col-12-md col-12-sm col-12-xs">
				<h4 class="text-align--center-mobile partial-underscore">
					TEXT INPUTS
				</h4>
			</div>
			<div class="col-6-lg col-6-md col-12-sm col-12-xs margin__top--small">
				<p class="paragraph">
					Text Input
				</p>
				<div class="row align-center flush">
					<div class="col-2-lg col-2-md col-2-sm col-3-xs">
						<p class="utility">
							<span class="label--wrapper text">
								First Name
							</span>
						</p>
					</div>
					<div class="col-10-lg col-10-md col-10-sm col-9-xs">
						<p class="utility">
							<input data-label="1" class="text--input enabled" type="text" name="first-name" placeholder="First Name">
						</p>
					</div>
				</div>		
				<div class="row align-center flush">
					<div class="offset-2-lg offset-2-md offset-2-sm offset-3-xs col-6-lg col-6-md col-6-sm col-6-xs">
						<div id="1" class="label--wrapper__hidden">
							<p class="utility info bold">
								Some info copy here
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6-lg col-6-md col-12-sm col-12-xs margin__top--small">
				<p class="paragraph">
					Disabled Text Input
				</p>
				<div class="row align-center flush">
					<div class="col-2-lg col-2-md col-2-sm col-3-xs">
						<p class="utility">
							<span class="label--wrapper text">
								Disabled
							</span>
						</p>
					</div>
					<div class="col-10-lg col-10-md col-10-sm col-9-xs">
						<p class="utility">
							<input disabled="disabled" class="text--input disabled" type="text" name="first-name" placeholder="Disabled">
						</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>			


