<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
    {% include 'head' %}

    <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
        {{ content_for_layout }}

        {% include'footer' %}
    </body>
</html>
