<div class="row flush slide" id="slide-{{ section.id }}">
  
</div>

<style>
  #slide-{{ section.id }} { 
    background: url("{{ section.settings.image | img_url: 'master' }}") no-repeat;
    background-size: cover;
  }
</style>

{% schema %}
  {
    "name": "Image Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Product slideshow"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [{
      "name": "Homepage Slider",
      "category": "Collection"
    }],
    "blocks" : []
  }
{% endschema %}

{% stylesheet %}
  .slide {
    height: 100vh;
  }
{% endstylesheet %}