/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}

/*================ Checkbox/Radio styles ================*/

.label--wrapper {
  display: inline-block;
  position: relative;
  @extend .utility;

  &.radio {
    top: -4px;
  }

}


input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.display-element__checkbox {
  border: solid 1px $white;
  border-radius: 2px;
  display: inline-block;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-right: 12px;

  &.enabled {
    transition: all .3s ease-in-out;
    background-color: $white;

    .icon {
      height: 16px;
      width: 16px;
      fill: $white;
      &.icon-success {
        margin-top: -1px;
        margin-left: 1px;
      }
    }
  }  

  &.default {
    border: solid 1px $dark-grey;
  }

  &:hover {
    border: solid 1px $black;
  }

  &.selected {
    background-color: $black;
    border: solid 1px $black;
  }

  &.disabled {
    border: solid 1px $grey;
    cursor: no-drop;
  }

}

.display-element__radio {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-right: 12px;
  width: 16px;
  
  &.enabled {
    transition: all .1s ease-in-out;
    
    &:active {
      background-color: $black;
    }

    &.on:after {
      background-color: $black;
      border-radius: 6px;
      content: "";
      display: inline-block;
      position: absolute;
      height: 10px;
      margin-top: 2px;
      margin-left: 2px;
      width: 10px;
    }
  }

  &.disabled {
    border: 1px solid $grey;
    cursor: not-allowed;
  }
}

/*================ Text Input styles ================*/

input[type="text"],
input[type="email"] {
  border: solid 1px $grey;
  border-radius: 2px;
  color: $carbon;
  height: 50px;
  padding-left: 12px;
  width: 400px;
  @include placeholder {
    color: $carbon;
  }
  &:active,
  &:focus {
    border-color: $light-blue;
  }
  &.disabled {
    border-color: $grey;
    cursor: not-allowed;
    @include placeholder {
      color: $grey;
    }
  }  
}

.label--wrapper__hidden {
  opacity: 0;
}



