.container_lg {
    margin: 0 auto;
    max-width: $lg-break;
}
.container_md {
    margin: 0 auto;
    max-width: $md-break;
}
.container_sm {
    margin: 0 auto;
    max-width: $sm-break;
}

// Mixins for width and margin calculation
@mixin width($width) {
  width: ($width / $number-of-columns) * 100%;
}
@mixin offset-width($width) {
  margin-left: ($width / $number-of-columns) * 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;

  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.flush {
    padding: 0;

    & > [class^="col-"]:not([class^="offset-"]) {
      padding: 0;
    }
  }

  &.justify_around {
      justify-content: space-around;
  }

  &.justify_between {
      justify-content: space-between;
  }

  &.justify_center {
      justify-content: center;
  }

  &.justify_end {
      justify-content: flex-end;
  }

  &.no_wrap {
      flex-wrap: nowrap;
  }
}

// Base class
[class^="col-"] {
  padding: $gutter;
  box-sizing: border-box;

  &.align-top {
      align-self: flex-start;
  }

  &.align-bottom {
      align-self: flex-end;
  }

  &.align-center {
      align-self: center;
  }

  > .row {
      margin-left: calc($gutter * -1);
      margin-right: calc($gutter * -1);
  }
}

.col-auto {
  width: auto;
}

// Generate classes based on grid variable
@for $i from 1 through $number-of-columns {

  @media screen and (max-width: $xs-break) {
    // base column sizes
    .col-#{$i} {
      @include width($i);
    }
    // base offsets
    .offset-#{$i} {
      @include offset-width($i);
    }
  }

  // sm
  @media screen and (min-width: $sm-break) {
    .col-#{$i}-sm {
      @include width($i);
    }
    .offset-#{$i}-sm {
      @include offset-width($i);
    }
  }

  // md
  @media screen and (min-width: $md-break) {
    .col-#{$i}-md {
      @include width($i);
    }
    .offset-#{$i}-md {
      @include offset-width($i);
    }
  }

  // lg
  @media screen and (min-width: $lg-break) {
    .col-#{$i}-lg {
      @include width($i);
    }
    .offset-#{$i}-lg {
      @include offset-width($i);
    }
  }
}
