// Layout styles
body {
    padding-top: 60px;

    &.fixed {
        overflow: hidden;
    }

	&.template-password {
		padding: 0;
	}
}

// Overlay
.site-overlay {
	position: fixed;
	top: 0;
	width: 100%;
    height: 100%;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 500ms, opacity 500ms linear;

	&.active {
		opacity: 1;
		visibility: visible;
		transition-delay: 0s;
	}

	@media (max-width: $md-break) {
		display: none;
	}
}

// Return Magic
.app-returnmagic {
    @media (min-width: $md-break) {
        min-height: calc(100vh - 304px);
    }
}
